$color-primary: #e95a89;
$color-secondary: #81c5cc;
$color-accent: #03a05f;
$color-text: #fcfbfd;
$color-background: #181818;
$color-background-light: #201f20;

$b-radius: 0.5rem;
$b-width: 0.125rem;

$shadow-light: 0 2px 6px rgba(0, 0, 0, 0.15);
